:root {
  --color-main-1: #423665;
  --color-main-1-hover: #594886;

  --color-main-2: #ff7c1f;
  --color-main-2-hover: #d0600f;

  --color-main-3: #5bb299;
  --color-main-3-hover: #45a388;
  --color-main-4-hover: #438572;

  --color-sub-1: #c5c3d4;
  --color-sub-2: #a295c7;

  --color-bg: #f7f7f7;
  --color-bg-2: #d9d9d9;
  --color-bg-3: #c2c2c2;

  --color-font: #2a2a2a;
  --color-font-sub: #adadad;
  --color-font-white:#ffffff;
  --color-font-black:#000000;
}
