@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/font" as *;

.issue-form,
.issue-empty {
  @include flex-layout(column, center, flex-start, 0.5rem);
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  background-color: #fba76a;
  .issue-txt {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    @include font-medium;
    strong {
      font-size: 1rem;
    }
  }
  .issue-btn {
    p {
      font-size: 1rem;
      color: #fff;
    }
    @include flex-layout(row, space-between);
    width: 100%;
    button {
      padding: 0.375rem 2.125rem;
      border: none;
      border-radius: 1.875rem;
      background-color: var(--color-main-2);
      color: #fff;
      font-size: 0.75rem;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: var(--color-main-2-hover);
        color: var(--color-font-sub);
      }
    }
  }
}
