@use "../assets/scss/variables";
@use "../assets/scss/mixin" as *;
@use "../assets/scss/font" as font;


.desktop {
  width: 100%;
  //초록 배경
  .admin-dashboard {
    display: flex;
    flex-direction: column;
    position: relative;
    @include desktop {
      margin: 0 auto;
      padding-bottom: 20rem;
      display: flex;
      border: 3px solid var(--color-bg-2);
    }

    //관리자 정보 카드
    .card {
      background: var(--color-main-3);
      border-radius: 0 0 30px 30px;
      padding: 2rem 1rem;
      color: var(--color-font-black);
      position: relative;
      z-index: 5;
      @include tablet {
        background: none;
      }
      .admin-box {
        position: relative;
        .admin {
          width: 100px;
          height: 100px;
          border-radius: 30%;
          border: 3px solid var(--color-font-white);
          position: absolute;
          bottom: 50%;
          left: 64%;
          @include tablet {
            bottom: 50%;
            left: 74%;
            border: 3px solid var(--color-main-3);
            // box-shadow: 0 6px 4px var(--color-main-3-hover);
          }
          @include desktop {
            bottom: 50%;
            left: 64%;
          }
        }
        .admin-info {
          background-color: var(--color-font-white);
          box-shadow: 0 1px 10px var(--color-main-3-hover);
          padding: 0.5rem 2rem;
          border-radius: 15px;
          @include tablet {
            background-color: var(--color-main-3);
            box-shadow: none;
          }
          .admin-name {
            margin: 0.3rem 0;
            font-weight: bold;
            @include font.font-header;
          }
          .time {
            @include font.font-s;
            opacity: 0.9;
          }
          button {
            padding: 0.3rem 1rem;
            border-radius: 10px;
            border: none;
            margin: 1rem 0;
            cursor: pointer;
            @include font.font-s;
          }
          .btn-gray {
            margin-right: 0.5rem;
            &:hover {
              background-color: var(--color-bg-3);
            }
          }
          .btn-green {
            background: var(--color-main-3);
            color: var(--color-font-white);
            &:hover {
              background-color: var(--color-main-3-hover);
            }
            @include tablet {
              background: var(--color-main-3-hover);
              &:hover {
                background: var(--color-main-4-hover);
              }
            }
          }
        }
      }
    }
    .admin-header {
      padding: 1rem;
      .top-text {
        color: var(--color-font-white);
        .apt-name {
        }
        .role {
          @include font.font-header;
          font-weight: bolder;
          color: var(--color-font-white);
        }
      }
    }
    @include tablet {
      .admin-header {
        // text-align: center;
        // position: absolute;
        top: -27%;
        right: 78%;
        gap: 1rem;
        img {
          display: none;
        }
        .top-text {
          color: var(--color-font-black);
          font-weight: bolder;
          .role {
            color: var(--color-font-black);
          }
        }
      }
    }
  }

  //문의/현황 카드
  .menu {
    display: flex;
    gap: 1rem;
    border-radius: 24px;
    padding:1rem 1.2rem;
    margin-top: -20px;
    position: relative;
    z-index: 5;
    .menu-card {
      margin-top: -20px;
      flex: 1;
      background: var(--color-font-white);
      border-radius: 16px;
      padding:0 1rem;
      border: none;
      text-align: left;
      box-shadow: 0 3px 8px var(--color-bg-3);
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
      &:hover {
        background-color: var(--color-bg);
        transform: scale(1.03);
      }
      .info-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    }
.info-p p {
  font-size: 1rem !important;
  font-weight: 600;
  &:nth-child(1){
    font-weight: bold !important;
  }
}
      h3 {
        margin: 0 0 0.3rem;
        @include font.font-title;
        text-align: left;
        font-weight: bolder;
      }
      &:nth-child(2) h3 {
        margin: -1rem 0 0.3rem;
        @include tablet {
          margin: -0.2rem 0 0.3rem;
        }
      }
      p {
        margin: 0;
        @include font.font-s;
      }
    }
  }

  //아래 3개 카드
  .extra {
    background: var(--color-font-white);
    padding: 1.2rem;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    button {
      padding: 0.9rem;
      border-radius: 14px;
      border: none;
      @include font.font-main;
      font-weight: bolder;
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
      &:hover {
        background-color: var(--color-main-3-hover);
        color: var(--color-font-white);
        transform: scale(1.03);
      }
    }
  }
  //로그아웃
  .logout-btn {
    padding: 0.5rem 2.5rem;
    border-radius: 20px;
    border: none;
    background: var(--color-main-3);
    color: var(--color-font-white);
    align-self: flex-end;
    margin: 0 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--color-main-3-hover);
    }
  }
}
