@use "../assets/scss/mixin" as *;
@use "../assets/scss/font" as *;

#business {
  width: 100%;
  @include flex-layout(column, center, center, 0);
  .business-top {
    padding-bottom: 3rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
    > img {
      width: 100%;
      height: 239px;
      display: block;
    }
    .business-txt {
      @include flex-layout(column, center, flex-start, 0.5rem);
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      z-index: 2;
      color: #fff;

      h2 {
        @include font-header();
        color: #fff;
      }
      > p {
        @include font-main();
        color: #fff;
      }
    }
  }
  .scroll-container {
    @include flex-layout(column, flex-start, center, 0);
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include desktop {
      flex: 0;
      overflow: visible;
    }
  }
  // 테블릿 버전
  @include tablet {
    .scroll-container {
      width: 100%;
      height: 85vh;
      @include flex-layout(column, flex-start, center, 0);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
