.cotrol-box{
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #222;
  border-radius: 1rem;
  gap: 1rem;
  input{
    padding: 0.2rem;
  }
  .btn-inout{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    button{
      padding: 0 0.8rem;
    }
  }
}