@use "../assets/scss/mixin" as *;
@use "../assets/scss/variables" as *;
@use "../assets/scss/global.scss" as *;
@use "../assets/scss/font.scss" as *;

.ok-card {
    // 카드 한장
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 48px 16px 16px;
    height: 180px;
    border-radius: 32px;
    background-color: var(--color-bg);
    overflow: hidden;
    // margin-top: -40px; //카드겹칠 떄
    margin-top: 15px;
    border: 1px solid rgba(117, 117, 117, 0.411);
    box-shadow: 0 -8px 4px rgba(80, 80, 80, 0.2);
    transition: transform 0.5s ease, opacity 0.3s ease;
    cursor: pointer;
    color: var(--color-font);
    }
    .ok-card-inner {
        display: flex;
        gap: 0.5rem;

    .car-number{
            @include font-header;
        }
    .unit{
        margin-top: 0.5rem;
    }
}
.okpage {
    // 밑 바탕
    overflow: hidden;
    width: 100%;
    height: 80vh;
    border-radius: 0 0 3rem 3rem;
    background-color: var(--color-main-3);
    margin: 0 auto; // 가운데 정렬
    color: var(--color-bg);
    padding: 1rem;
    >h1{
        padding: 4rem 0 1rem 2rem;
    }
}
.register-type{
    @include font-main;
        padding: 0.5rem 1rem;
        width: fit-content;
        border: 2px solid rgb(26, 26, 26);
        border-radius: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-font);
        margin-bottom: 10px
    }
// 로고 고정


// 버튼
    .btn-group {
        display: flex;
        gap: 10px;
        margin-top: 1rem;
}
        .btn {
            padding: 8px 18px;
            border-radius: 999px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
    transition: all 0.2s ease;
}
.left {
    background-color: var(--color-bg);
    text-align: center;
                color: var(--color-font);
    border: 1px solid #000;
}
.right {
    background-color: var(--color-font);
    text-align: center;
                color: var(--color-bg);
    border: 1px solid #000;
}
