@use "../assets/scss/mixin" as *;
@use "../assets/scss/variables" as *;
@use "../assets/scss/global" as *;
@use "../assets/scss/font" as *;

.ok-page {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background: var(--color-main-3);
    border-radius: 0 0 3rem 3rem;
    padding: 1rem;
    margin: 0 auto;
    color: var(--color-bg);

    > h1 {
        padding: 4rem 0 1rem 2rem;
    }

    .okpage-card-list {
        overflow-y: auto;
        padding: 0 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
