@use "../assets/scss/mixin" as *;
@use "../assets/scss/font" as *;

#resident {
  width: 100%;
  @include flex-layout(column, center, center, 0);
  .resident-top {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 50;
    > img {
      width: 100%;
      height: 239px;
      display: block;
    }
    .resident-txt {
      @include flex-layout(column, center, flex-start, 0.5rem);
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      z-index: 2;
      color: #fff;
      h2 {
        @include font-header();
        color: #fff;
      }
      > p {
        @include font-main();
        color: #fff;
      }
    }
  }
  .scroll-container {
    @include flex-layout(column, flex-start, center, 0);
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include desktop {
      flex: 0;
      overflow: visible;
    }
  }
  .favorite {
    position: fixed;
    bottom: 50px;
    z-index: 100;
    @include flex-layout();
    button {
      cursor: pointer;
      transition: 0.3s;
      @include font-medium();
      background-color: var(--color-main-1);
      color: #fff;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1.875rem;
      &:hover {
        background-color: var(--color-main-1-hover);
      }
    }
  }

  // 테블릿 버전
  @include tablet {
    .scroll-container {
      width: 100%;
      height: 95vh;
      @include flex-layout(column, flex-start, center, 0);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
