@use "../assets/scss/mixin" as *;

// --- 입주민 페이지 ---
#resident {
  #controller {
    padding-bottom: 1.5rem;
    @include flex-layout(column, $gap: 0);
    width: 90%;
    margin: 0 auto;
    .btn-wrap {
      @include flex-layout($gap: 0.5rem);
      width: 100%;
      button {
        &:hover {
          filter: brightness(0.9);
          color: #000;
        }
        width: 100%;
        font-size: 0.625rem;
        font-weight: 400;
        border: none;
        padding: 0.6rem 1rem;
        letter-spacing: -0.2px;
        border-radius: 1rem 1rem 0 0;
        background-color: #e4dcfb;
        cursor: pointer;
        transition: 0.3s;
        color: #828282;
        &:nth-of-type(1) {
          &.active {
            color: #000;
          }
        }
        &:nth-of-type(2) {
          background-color: #d3c9ed;
          &.active {
            color: #000;
            background-color: #d3c9ed;
          }
        }
        &:nth-of-type(3) {
          background-color: #beb3dd;
          &.active {
            color: #000;
            background-color: #beb3dd;
          }
        }
      }
    }
    .mode-content {
      width: 100%;
      @include flex-layout();
    }
  }
}

#business {
  #controller {
    padding-bottom: 1.5rem;
    @include flex-layout(column, $gap: 0);
    width: 90%;
    margin: 0 auto;
    .btn-wrap {
      @include flex-layout($gap: 0.5rem);
      width: 100%;
      button {
        &:hover {
          filter: brightness(0.9);
          color: #000;
        }
        width: 100%;
        font-size: 0.625rem;
        font-weight: 400;
        border: none;
        padding: 0.6rem 1rem;
        letter-spacing: -0.2px;
        border-radius: 1rem 1rem 0 0;
        background-color: #ffcca7;
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
        &:nth-of-type(1) {
          &.active {
            color: #000;
          }
        }
        &:nth-of-type(2) {
          background-color: #fba76a;
          &.active {
            color: #000;
            background-color: #fba76a;
          }
        }
        &:nth-of-type(3) {
          background-color: #ff9348;
          &.active {
            color: #000;
            background-color: #ff9348;
          }
        }
      }
    }
    .mode-content {
      width: 100%;
      @include flex-layout();
    }
  }
}
